<h1>New User</h1>

<%= form_for @user do |f| %>

  <label class="input-label" for="user_username">Username</label>
    <%= f.text_field :username %>
  <br>

  <label class="input-label" for="user_password">Password</label>
    <%= f.password_field :password %>
  <br>

  <%= f.submit "Sign Up", class: "submit-form" %>

<% end %>
