/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  font-weight: 200;
  background-color: #acc;
}

body > h1 {
  margin-left: 10px;
}

#content {
  font-size: 14px;
}

header:after {
  clear: both;
  content: "";
  display: block;
}

header {
  height: 40px;
  background: #aee;
  border-radius: 100px;
}

.navlist {
  list-style-type: none;
}

.navlist > li {
  float: right;
  margin: 10px;
}

.navlist > .logo {
  float: left;
  margin: 0;
  margin-top: 6px;
}

.list-item, .sign-out, .submit-form {
  background-color: salmon;
  border-radius: 100px;
  border: 2px solid black;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
  padding: 3px;
  margin-top: -2px;
}

.list-item:hover, .sign-out:hover, .submit-form:hover {
  background-color: red;
  transition: 0.4s;
}

.list-item {
  display: block;
  width: 50px;
  text-align: center;
  color: black;

  transition: 0.4s;
}

.sign-out, .submit-form {
  margin: 0;
  transition: 0.4s;
}

.new_user {
  margin-left: 15px;
}

.new_user > input {
  margin-bottom: 10px;
}

.input-label {
  display: block;
  float: left;
  width: 80px;
  margin: 3px 3px;
  font-weight: 200;
}